<div class="max-w-sm mx-auto bg-gray-100 rounded-lg p-8">
  <h2 class="text-2xl font-bold mb-4">Registro</h2>
  <form (submit)="onSubmit($event)">
    <div class="mb-4">
      <label for="username" class="block mb-1">Имя пользователя:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500">
    </div>
    <div class="mb-4">
      <label for="password" class="block mb-1">Пароль:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500">
      <div class="text-red-500" *ngIf="passwordError">{{ passwordError }}</div>
    </div>
    <div class="mb-4">
      <label for="confirmPassword" class="block mb-1">Подтвердить пароль</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:border-blue-500">
    </div>
    <div class="mb-4">
      <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white rounded px-4 py-2">Регистрация</button>
    </div>
  </form>
</div>
